
 
  <div class="col-4 py-2">
    <div class="card">
      <div class="card-body">
       <p> </p>
        <h5 class="card-title"><%= image_tag "movie_info.svg"%> <%= movie.name %></h5>


          

        
      </div>
    </div>
  </div>
